.mapContainer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.score-block {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  margin: 40px;
}

.score-block > div {
  font-size: 24px;
  font-weight: bolder;
}

.score-block button {
  margin-top: 20px;
  margin-bottom: 20px;
  height: 30px;
  cursor: pointer;
}